@font-face {
    font-family: digi;
    src: url(Digital.ttf);
}

#main-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 90vh;
}

#sub-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 2s opacity;
}

#inputBox{
    border-radius: 7px;
    border: 14px solid rgb(170, 170, 170);
    background-color: rgb(110, 110, 110);
    color: rgb(0, 255, 0);
    box-shadow: 9px 9px rgb(210, 210, 210);
    outline: 1px solid rgb(160, 160, 160);
    outline-offset: 0px;
    font-size: 60px;
    padding: 0px 10px;
}

.inputs{
    border: none;
    background-color: rgb(110, 110, 110);
    color: rgb(0, 255, 0);
    font-size: 60px;
    font-family: digi ;
    margin: 0px 0px;
    width: 60px;
    text-align: center;
}

.inputs:focus{
    outline: none;
}

#buttonBox{
    margin: 20px 0px ;
}

.buttons{
    border: none;
    background-color: transparent ;
    color: rgb(170, 170, 170);
    font-size: 40px;
    margin: 5px;
    text-align: center;
}

#pause{
    display: none;
}

#resume{
    display: none;
}

#restart{
    display: none;
}

#instructions{
    color: rgb(170, 170, 170);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    margin: 10px 0px;
    text-align: center;
    opacity: 0;
    transition: 0.5s opacity;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width:330px){
    #inputBox{
        border-width: 3px;
        font-size: 40px;
        box-shadow: 6px 6px rgb(210, 210, 210);
    }
    .inputs{
        font-size: 40px;
        width: 40px;
        margin: 0px 0px;
    }
    .buttons{
        font-size: 30px;
        margin: 0px;
    }
    #instructions{
        font-size: 18px;
    }
    #sub-container{
        padding: 5px;
    }
    #buttonBox{
        margin: 15px 0px;
    }
}
@media (max-width:240px){
    #inputBox{
        font-size: 30px;
        border-width: 2px;
        box-shadow: 5px 5px rgb(210, 210, 210);
    }
    .inputs{
        font-size: 30px;
        width: 30px;
    }
    .buttons{
        font-size: 20px;
    }
    #instructions{
        font-size: 16px;
    }
    #buttonBox{
        margin: 10px 0px ;
    }
}   
